<!-- app.component.html -->
<div class="container-main">
    <header class="header">
        <div class="header-content">
            <a href="#" class="sitea-title">SITEA</a>
            <form>
                <input type="text" placeholder="Buscar...">
                <button type="button" class="btn-search">Buscar</button>
            </form>
        </div>
    </header>

    <div class="container-body">
        <div class="container-body_left">
            <nav>
                <ul>
                    <li>Territorio</li>
                    <li>E. vida
                        <ul class="dropdown-menu">
                            <li>Submenú 2.1</li>
                            <li>Submenú 2.2</li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button type="button" class="btn-generate" (click)="openModal()">Generar Acta</button>
        </div>

        <div class="container-body_right">
            <div class="container">
                <div class="modal-content">
                    <!-- Icono de regreso -->
                    <div class="back-button" (click)="goBack()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#5AA74E">
                            <path d="M0 0h24v24H0V0z" fill="none"/>
                            <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
                        </svg>
                    </div>
                    <!-- Contenido del formulario -->
                    <div class="form-content">
                        <div class="form-row">
                            <label>Subsección</label>
                            <input type="text" value="sadhajsgdas">
                            <label>Serie</label>
                            <input type="text">
                            <label>Subserie</label>
                            <input type="text">
                            <label>Tipo Documental</label>
                            <input type="text">
                        </div>
                        <div class="form-row">
                            <label>N° Radicado</label>
                            <input type="text">
                            <label>Nombre Documento</label>
                            <input type="text">
                            <label>Fecha Radicado</label>
                            <input type="text">
                            <label>Tipo Documento</label>
                            <input type="text">
                        </div>
                        <div class="form-row">
                            <label>Atributo 1</label>
                            <input type="text">
                            <label>Atributo 2</label>
                            <input type="text">
                            <label>Atributo 3</label>
                            <input type="text">
                            <label>Atributo n</label>
                            <input type="text">
                        </div>
                        <div class="form-row">
                            <label>Nombre archivo</label>
                            <input type="text" value="asldkdjakdja">
                        </div>
                        <div class="button-container">
                            <button type="button" class="btn-confirm" (click)="openModal()">Confirmar</button>

                            <button type="button" class="btn-cancel">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" *ngIf="isModalVisible">
        <div class="modal-content">
            <h2>El proceso fue <br> EXITOSO!</h2>
            <button class="btn-close" (click)="closeModal()">Cerrar</button>
        </div>
    </div>
    
    

    <footer class="footer">
        &copy; 2024 Nombre de la Empresa. Todos los derechos reservados.
    </footer>
</div>
