<div class="container-main">
    <header class="header">
        <div class="header-content">
            <a href="#" class="sitea-title">SITEA</a>
            <form>
                <input type="text" placeholder="Buscar">
                <button type="submit" class="btn-search">Buscar</button>
            </form>
        </div>
    </header>

    <div class="container-body">
        <div class="container-body_left">
            <nav>
                <ul>
                    <li>Nombre de Componente
                        <ul class="dropdown-menu">
                            <li>Subsección 1</li>
                            <li>Subsección 2</li>
                            <li>Subsección 3</li>
                            <li>Subsección n</li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="btn-generate" (click)="redirectToGenerarActa()">Generar Acta</button>
        </div>

        <div class="container-body_right">
            <div class="controller">
                <button class="btn-cargar-doc" (click)="openModal()">Cargar documento</button>
            </div>

            <div id="myModal" class="modal" [ngClass]="{'show': showModal}">
                <div class="modal-content">
                    <span class="close" (click)="closeModal()">&times;</span>
                    <p>¿El documento que desea cargar a qué proceso está relacionado?</p>
                    <p>Seleccione la opción que corresponda</p>
                    <button class="btn-new" (click)="openNuevoView()">Nuevo</button>
                    <button class="btn-existing">Existente</button>
                </div>
            </div>

            <table class="document-table">
                <thead>
                    <tr>
                        <th>Nombre Del Proceso</th>
                        <th>Nombre del documento</th>
                        <th>Radicado Secundario</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Proceso 1</td>
                        <td>Documento 1</td>
                        <td>12345</td>
                        <td>
                            <button class="btn view" title="Ver">Ver</button>
                            <button class="btn edit" title="Editar">Editar</button>
                            <button class="btn delete" title="Eliminar">Eliminar</button>
                        </td>
                    </tr>
                 
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer">
        © Consejo regional indígena del Cauca 2023
    </div>
</div>
