<div class="container-main">
  <header class="header">
    <div class="header-content">
      <a href="#" class="sitea-title">SITEA</a>
      <form>
        <input type="text" placeholder="Buscar">
        <button class="btn-search">Buscar</button>
      </form>
    </div>
  </header>

  <div class="container-body">
    <div class="container-body_left">

      <nav>
        <ul>
          <li>Territorio
            <ul class="dropdown-menu">
              <li>Subsección 1
                <ul>
                  <li>Serie 1</li>
                  <li>Serie 2</li>
                  <li>Serie 3</li>
                </ul>
              </li>
              <li>Subsección 2</li>
            </ul>
          </li>
          <li>E. vida
            <ul class="dropdown-menu">
              <li>Subsección 1
                <ul>
                  <li>Serie 1</li>
                  <li>Serie 2</li>
                  <li>Serie 3</li>
                </ul>
              </li>
              <li>Subsección 2</li>
            </ul>
          </li>
        </ul>
      </nav>
      <button class="btn-generate">Generar Acta</button>
    </div>

    <div class="container-body_right">
      <div class="filter-container">
        <div class="icon-return" (click)="goBack()">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#5AA74E">
            <path d="M0 0h24v24H0V0z" fill="none"/>
            <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
          </svg>
        </div>
        <h2>Filtrar Documento</h2>
        <div class="grid-container">
          <div>
            <label for="subseccion">Subsección</label>
            <select id="subseccion">
              <option value="">x</option>
            </select>
          </div>
          <div>
            <label for="serie">Serie</label>
            <select id="serie">
              <option value="">x</option>
            </select>
          </div>
          <div>
            <label for="subserie">Subserie</label>
            <select id="subserie">
              <option value="">x</option>
            </select>
          </div>
          <div>
            <label for="radicado">Nº Radicado</label>
            <select id="radicado">
              <option value="">x</option>
            </select>
          </div>
        </div>
        <div class="buttons-control">
          <button class="btn-success">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    Copyright © 2023-2024 PEA-CRIC. Todos los derechos reservados.
  </footer>
</div>
