:root{
    --color-gray: #383B39;
    --color-green-dark: #5AA74E;
    --color-green-light: #A5D59D;
    --color-brown: #6c4646;
    --font-size-category: 17px;
}

/*ESTILOS GENERALES*/

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
}


.container-main {
    width: 100%;
    height: 100%;
}

.buttons-control {
    margin-top: 10px;
}

.buttons-control button {
    border-radius: 30px;
}
.btn-success{
    background-color: var(--color-green-dark);
}



/* ESTILOS DEL HEADER */
.header {
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid var(--color-green-dark);
    width: 100%;
    height: 80px;
    margin: 0;
    background-color: var(--color-gray);
}

.header  a{
    color: var(--color-green-dark);
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.header form{
    width: 20%;
    height: 2rem;
}

.btn-search{
    display: flex;
    align-items: center;
    border-color: var(--color-green-dark);
    color: var(--color-green-dark);
}

.btn-search:hover {
    background-color: var(--color-green-dark);
}

/* ESTILOS DEL MENU */

.container-body{
    display: flex;
    width: 100%;  
}

.container-body_left{
    width: 18%;
    min-height: calc(100vh - 130px);
    display: block;
    background: linear-gradient(180deg, rgba(56,59,57,1) 0%, rgba(75,78,76,1) 100%);
    color: var(--color-green-dark);
    position: sticky;
    top: 90px;
}

.menu-dropdown{
    display: none;
}

.item-dropdown>.menu-dropdown.visible{    
    display: block;
}

.container-body_left nav{
    width: 100%;
    box-sizing: border-box;
    position: sticky;
    top: 90px;
    padding: 0 10px ;
}

.container-body_left nav>ul {
    display: contents;
}

/* ESTILOS SECCION DE TABLA Y CONTROLES */

.container-body_right{
    box-sizing: border-box;
    width: 82%;
    box-sizing: border-box;
    padding: 0 80px 0 80px;
}

.controller{
    display: flex;
    box-sizing: border-box;
    background-color: transparent;  
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.controller img {
    position: fixed;
    top:90px
}

.controller img:hover {
    cursor: pointer;
}

/* ESTILOS DE VISUALIZACION DE DOCUMENTO */

.document-preview {
    background-color: #D9D9D9;
    margin-top: 20px;
    padding: 0 20px;
    border-radius: 30px;
}



.document-data{
    margin: 10px 0;
    padding: 10px;
}

.document-data h2{
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    padding: 40px 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.grid-container P{
    margin: 0;
}


.doc-field-info{
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 2PX;
    border: none;
    border-bottom: 2px  solid black;
}
.grid-container P{
    margin: 0;
}

.doc-file {
    display: flex;
    margin-top:30px;
}

.doc-file p{
    margin: 0 5px;
}

.buttons-control {
    display: flex;
    justify-content: center;
}


/* ESTILOS FOOTER */

.footer{
    height: 50px;
    display: flex;
    position: sticky;
    bottom: 0;
    font-size: 12px;
    justify-content: center;
    align-items: center ;
    background-color: var(--color-gray);
    color: var(--color-green-light);

}