<div class="sidebar">
  <h2>SITEA</h2>
  <ul>
    <li>Territorio</li>
    <li>E. vida</li>
  </ul>
</div>

<div class="header">
  <div class="search-bar">
    <input type="text" placeholder="Buscar" />
    <button class="search-button">Buscar</button>
  </div>
</div>

<div class="scrollable-content">
  <div class="metadata">
    <div class="icon-return" onclick="history.back()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#5AA74E">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
      </svg>
    </div>

    <div class="metadata-row">
      <div class="metadata-item">
        <label for="subseccion">Subsección</label>
        <input type="text" id="subseccion" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="serie">Serie</label>
        <input type="text" id="serie" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="subserie">Subserie</label>
        <input type="text" id="subserie" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="tipo-documental">Tipo Documental</label>
        <input type="text" id="tipo-documental" placeholder="" />
      </div>
    </div>

    <div class="metadata-row">
      <div class="metadata-item">
        <label for="radicado">N° Radicado</label>
        <input type="text" id="radicado" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="nombre-documento">Nombre Documento</label>
        <input type="text" id="nombre-documento" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="tipo-documento">Tipo Documento</label>
        <input type="text" id="tipo-documento" placeholder="" />
      </div>
    </div>

    <div class="metadata-row">
      <div class="metadata-item">
        <label for="atributo1">Atributo 1</label>
        <input type="text" id="atributo1" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="atributo2">Atributo 2</label>
        <input type="text" id="atributo2" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="atributo3">Atributo 3</label>
        <input type="text" id="atributo3" placeholder="" />
      </div>
      <div class="metadata-item">
        <label for="atributon">Atributo n</label>
        <input type="text" id="atributon" placeholder="" />
      </div>
    </div>
  </div>

  <div class="pdf-viewer">
    <iframe
      src="assets/analisis-comparativo_MySQL-Oracle.pdf"
      width="100%"
      height="500px"
    ></iframe>
  </div>
</div>

<footer class="footer">
  <p>Copyright © 2023-2024 PEA-CRIC. Todos los derechos reservados.</p>
</footer>
