<div class="container-main">
    <div class="header">
        <div class="header-content">
            <a href="#" class="sitea-title">SITEA</a>
            <form>
                <input type="text" placeholder="Buscar">
                <button class="btn-search">Buscar</button>
            </form>
        </div>
    </div>

    <div class="container-body">
        <div class="container-body_left">
            <nav>
                <ul>
                    <li>Nombre de Componente
                        <ul class="dropdown-menu">
                            <li>Subsección 1</li>
                            <li>Subsección 2</li>
                            <li>Subsección 3</li>
                            <li>Subsección n</li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <button class="btn-generate" (click)="redirectToGenerarActa()">Generar Acta</button>

        </div>

        <div class="container-body_right">
            <div class="controller">
                <!-- Agregamos el event handler (click) para redirigir a la vista de listar -->
                <button class="btn-cargar-doc" (click)="redirectToListar()">Cargar documento</button>
                <button class="btn-filtros">Filtros</button>
            </div>

            <div class="table-container">
                <table class="document-table">
                    <thead>
                        <tr>
                            <th>Subsección</th>
                            <th>Serie</th>
                            <th>Nombre del Proceso</th>
                            <th>Radicado Primario</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                        <tr>
                            <td>Contenido 1</td>
                            <td>Contenido 2</td>
                            <td>Contenido 3</td>
                            <td>Contenido 4</td>
                            <td><button class="view-btn">Ver</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="footer">
        © Consejo regional indígena del Cauca 2023
    </div>
</div>
